.postContainer{
  margin-top: 4rem;
  text-align: justify;
  
  div{

    & + div{
      margin-top: 3rem;
    }

    &:last-child{
      margin-bottom: 4rem;
    }

    strong{
      color: var(--Heading);
      font-size: 1.75rem; //28px
      font-weight: bold;
      letter-spacing: -0.5px;
    }

    p{
      color: var(--Body);
      font-size: 1.125rem; //18px
      margin-top: 0.5rem;
    }

    ul{
      display: flex;
      margin-top: 1.5rem;
      gap: 1.5rem;
      list-style: none;

      li{
        color: var(--Info);
        span{
          margin-left: 0.5rem;
        }
      }
    }
  }
}